// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  background: white;
  // background: linear-gradient(135deg, #FFA17F, #00223E);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container-menu {
  margin: 5% 5%;
}

.card {
  color: white;
  margin-bottom: 2%;
  padding: 2%;
}


.card-description h4 {
  color:white;
}


#bg {
  background:
  // linear-gradient(
  //     rgba(255, 255, 255, 0.4),
  //     rgba(255, 255, 255, 0.0)
  //   ),
    url("https://images.unsplash.com/photo-1470752354724-60a1d2b1907f?dpr=2&auto=format&fit=crop&w=1500&h=1500&q=80&cs=tinysrgb&crop=");
  height: 70vh;
  background-size: 100%;
  margin-bottom: 5%
}

.logo {
  height: 200px;
}

.title {
  // justify-content: center;
  // align-items: center;
  margin-top: 7%;
  text-align: center;
  vertical-align: middle;
}
.title h1 {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
  color: yellow;
}

.nav-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  color:#FF7257;
  margin: auto;
}
